.nike-bg-banner {
  background-color: #fff9f4;
}

.nike-text-color {
  color: #fa804c;
}

.nike-button {
  border-radius: 10px;
  background: linear-gradient(180deg, #3d4ff3 0%, #3543bc 100%);
}

.nike-bg-img {
  border-radius: 30px;
  margin: 1rem;
  background-color: #f1f1f1;
}

.nike-card {
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 1.25rem;
}
